<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>title</title>
    <link href="../../css/Hui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../script/echo.min.js"></script>
    <style>

    </style>
</head>

<body>
    <div id="app" v-if="showIndex">

        <div id="index" class="" style="  background-color: white;">
            <div style="height: 170px">
                <img src="../../image/xia.png" alt=""
                    style="margin-left:10px;padding-bottom:10px; height:90%;width:95%;border-radius:15px"
                    class="H-paper-2">
            </div>
            <div
                class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-top-12 H-padding-vertical-both-10 H-border-vertical-bottom-after">
                <!-- <div class="H-flex-item" tapmode onclick="openjingxuanlist('流行','liuxing')"> -->
                <div class="H-flex-item" tapmode @click="openDaily()">
                    <span
                        class="H-icon H-center-all H-theme-background-color4 H-border-radius-circle H-margin-horizontal-auto H-paper-2"
                        style="height: 42px; width: 42px; "><i
                            class="H-iconfont H-icon-delegate H-font-size-22 H-theme-font-color-white"></i></span>
                    <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">每日推荐 </label>
                </div>
                <div class="H-flex-item" tapmode @click="openmylist('ismylsit',true,1)">
                    <span
                        class="H-icon H-center-all H-theme-background-color4 H-border-radius-circle H-margin-horizontal-auto H-paper-2"
                        style="height: 42px; width: 42px; "><i
                            class="H-iconfont H-icon-music1 H-font-size-22 H-theme-font-color-white"></i></span>
                    <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">我的歌单</label>
                </div>
                <div class="H-flex-item" tapmode @click="openShou()">
                    <span
                        class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto H-paper-2"
                        style="height: 42px; width: 42px; "><i
                            class="H-iconfont H-icon-music H-font-size-22 H-theme-font-color-white"></i></span>
                    <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">收藏</label>
                </div>
                <div class="H-flex-item" tapmode @click="openLikeList()">
                    <span
                        class="H-icon H-center-all H-theme-background-color6 H-border-radius-circle H-margin-horizontal-auto H-paper-2"
                        style="height: 42px; width: 42px; "><i
                            class="H-iconfont H-icon-like H-font-size-22 H-theme-font-color-white"></i></span>
                    <label class="H-display-block H-font-size-13 H-margin-vertical-top-5"> Like</label>
                </div>
            </div>
            <!-- <div id='toppp' class=" H-border-vertical-bottom-margin-both-10-after  "></div> -->
            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div
                    class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10">
                </div>
                <div
                    class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
                    推荐歌单</div>
                <span class="H-vertical-middle H-theme-font-color-ccc" tapmode
                    onclick="api.openWin({name:'ku_head',url:'../../html/ku/ku_head.html'})"> <label
                        class="H-font-size-13">更多</label> <label
                        class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span>
            </div>

            <div id="kulist"
                class="test1 H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
                <div v-for="item in kuListData.slice(0 , 4)"
                    class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after"
                    @click="openMusicList(item.id)">
                    <div class="H-padding-vertical-both-10"><img src="../../image/default.jpg"
                            :data-echo="item.picUrl+'?param=100y100'" alt="" title=""
                            class="H-display-block  animated fadeIn H-paper-2"
                            style="width: 70px; height: 70px;border-radius: 3px"></div>
                    <div class="H-flex-item H-padding-10 H-padding-horizontal-left-15">
                        <strong
                            class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block">{{item.name}}</strong>
                        <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-2 H-margin-vertical-top-10">
                            {{item.copywriter}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div
                    class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10">
                </div>
                <div
                    class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
                    排行榜 </div>
                <!-- <span class="H-vertical-middle H-theme-font-color-ccc" onclick="api.openWin({name:'gedanwin',url:'../../html/gedan/gedan_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span> -->
            </div>
            <div id="rank"
                class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
            </div>

            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  "
                style="margin-top:200px">
                <div
                    class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10">
                </div>
                <div
                    class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
                    热门歌手</div>
                <span class="H-vertical-middle H-theme-font-color-ccc"
                    onclick="api.openWin({name:'artistslist',url:'../../html/artistlist/artistlist_head.html'})"> <label
                        class="H-font-size-13">更多</label> <label
                        class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span>
            </div>
            <div id="artists"
                class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
                <div v-for="item in artistsListData"
                    class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-2 H-padding-horizontal-right-8  H-margin-vertical-bottom-10"
                    tapmode @click="openart(item.id)">
                    <img src="../../image/default.jpg" :data-echo="item.picUrl+'?param=440y250'"
                        class=" animated fadeIn H-width-100-percent H-display-block H-paper-2"
                        style="border-radius: 3px;height:110px;">
                    <div class="H-text-align-center H-font-size-11 H-padding-vertical-top-5 H-text-show-row-1">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div id="tuitTitle"
                class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div
                    class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10">
                </div>
                <div
                    class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
                    猜你喜欢</div>
                <!-- <span class="H-vertical-middle H-theme-font-color-ccc" tapmode onclick="api.openWin({name:'ku_head',url:'../../html/ku/ku_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span> -->

            </div>

            <div id="tuilist"
                class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
                <div v-for="(item,index) in recommendListData.slice(0 , 6)"
                    class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-8  H-margin-vertical-bottom-10"
                    tapmode @click="openMusicList(item.id)">
                    <img src="../../image/default.jpg" :data-echo="item.picUrl+'?param=200y200'"
                        class=" animated fadeIn H-width-100-percent H-display-block H-paper-2"
                        style="border-radius: 3px">
                    <div class="H-text-align-center H-font-size-11 H-padding-vertical-top-5 H-text-show-row-2"
                        style="height:30px">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <!-- 精品歌单 -->
            <div id="hightplaylist"
                class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div
                    class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10">
                </div>
                <div
                    class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
                    精品歌单</div>
                <!-- <span class="H-vertical-middle H-theme-font-color-ccc" tapmode onclick="api.openWin({name:'ku_head',url:'../../html/ku/ku_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span> -->

            </div>

            <div id="hightplaylist"
                class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
                <div v-for="(item,index) in highqualityData.slice(0 , 6)"
                    class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-8  H-margin-vertical-bottom-10"
                    tapmode @click="openMusicList(item.id)">
                    <img src="../../image/default.jpg" :data-echo="item.coverImgUrl+'?param=200y200'"
                        class=" animated fadeIn H-width-100-percent H-display-block H-paper-2"
                        style="border-radius: 3px">
                    <div class="H-text-align-center H-font-size-11 H-padding-vertical-top-5 H-text-show-row-2"
                        style="height:30px">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div
                    class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10">
                </div>
                <div
                    class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
                    最新专辑</div>
                <!-- <span class="H-vertical-middle H-theme-font-color-ccc" onclick="api.openWin({name:'gedanwin',url:'../../html/gedan/gedan_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span> -->
            </div>

            <div id="albumlist"
                class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
                <div v-for="(item,index) in newAlbumListData.slice(0 , 6)"
                    class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-8  H-margin-vertical-bottom-10"
                    tapmode @click="openAlbum(index)">
                    <img src="../../image/default.jpg" :data-echo="item.blurPicUrl+'?param=200y200'"
                        class=" animated fadeIn H-width-100-percent H-display-block H-paper-2"
                        style="border-radius: 3px">
                    <div class="H-text-align-center H-font-size-11 H-padding-vertical-top-5 H-text-show-row-2"
                        style="height:30px">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div
                    class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10">
                </div>
                <div
                    class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
                    MV</div>
                <span class="H-vertical-middle H-theme-font-color-ccc"
                    onclick="api.openWin({name:'mvlist_head',url:'../../html/mvlist/mvlist_head.html'})"> <label
                        class="H-font-size-13">更多</label> <label
                        class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span>
            </div>

            <div id="mvlist"
                class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
                <div v-for="item in mvListData.slice(0 , 4)"
                    class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-2 H-padding-horizontal-right-10  H-margin-vertical-bottom-5"
                    tapmode @click="openMv(item.id)">
                    <img src="../../image/default.jpg" :data-echo="item.cover + '?param=320y180'"
                        class=" animated fadeIn H-width-100-percent H-display-block  H-paper-3"
                        style="border-radius: 5px;height:110px;">
                    <div class="H-text-align-center H-font-size-12 H-padding-vertical-top-5">
                        {{item.name.substring(0, 12)}}</div>
                    <div class="H-text-align-center H-font-size-10 H-padding-vertical-top-2">
                        {{item.artistName.substring(0, 18)}}</div>
                </div>
            </div>
            <div id="vlistTitle"
                class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div
                    class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10">
                </div>
                <div
                    class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
                    音乐现场</div>
                <!-- <span class="H-vertical-middle H-theme-font-color-ccc" onclick="api.openWin({name:'mvlist_head',url:'../../html/mvlist/mvlist_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span> -->
            </div>

            <div id="vlist"
                class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
                <div v-for="item in videoListData.slice(0 , 4)"
                    class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-2 H-padding-horizontal-right-10  H-margin-vertical-bottom-5"
                    tapmode @click="openVideo(item.data.vid)">
                    <img src="../../image/default.jpg" :data-echo="item.data.coverUrl + '?param=320y180'"
                        class=" animated fadeIn H-width-100-percent H-display-block  H-paper-3"
                        style="border-radius: 5px;height:110px;">
                    <div class="H-text-align-center H-font-size-12 H-padding-vertical-top-5">
                        {{item.data.title.substring(0, 12)}}</div>
                    <div class="H-text-align-center H-font-size-10 H-padding-vertical-top-2">
                        {{item.data.creator.nickname.substring(0, 18)}}</div>
                </div>
            </div>

        </div>
        <div v-else="showIndex" class="H-center-all"> 网络错误... </div>
    </div>

</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>
<script type="text/javascript" src="../../script/axios.min.js"></script>
<script type="text/javascript" src="../../script/musicapi.js"></script>
<script type="text/javascript">
    apiready = function () {
     
        uiloading()
        app.huandeng()
        app.getRankList()
        if ($api.getStorage('isNew')) {


        } else {
            $api.setStorage('isNew', 'true');
            api.toast({
                msg: '第一次加载,请稍等...',
                duration: 3000,
                location: 'top'
            });

            setTimeout(function () {
                stoploading()
            }, 3000)
        }
        api.parseTapmode();
        api.setRefreshHeaderInfo({
            loadingImg: 'widget://image/refresh.png',
            visible: true,
            bgColor: '#f2f2f2',
            textColor: '#4d4d4d',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function (ret, err) {
            app.huandeng()
            app.getRankList()
            
            
            api.hideProgress();
            api.refreshHeaderLoadDone();
           

        });
    };
    var app = new Vue({
        el: '#app',
        data: {
            kuListData: [],
            artistsListData: [],
            recommendListData: [],
            newAlbumListData: [],
            mvListData: [],
            videoListData: [],
            highqualityData: [],
            isfinsh: true,
            showIndex:false
        },
        watch: {

        },
        methods: {
            huandeng() {//banner
                var huanlist = {}
                var UIScrollPicture = api.require('UIScrollPicture');
                $ku.getBannerList({
                    type: 2
                }, function (ret, err) {
                    if (ret.banners) {
                        app.showIndex=true
                        app.getkulist()
                        app.getkulist()
                        app.getArtists()
                        app.getTuiList()
                        app.getAlbumList()
                        app.getMvList()
                        app.getVideoList()
                        app.getHighQualityData()
                        var data = ret.banners
                        // data = data.filter(function(x) {
                        //     return x.targetId != 0 && x.targetType != 1;
                        // });
                        var paths = []
                        for (var i = 0; i < data.length; i++) {
                            paths[i] = imageCache(data[i].pic)
                        }
                        // console.log(JSON.stringify(paths));
                        huanlist.paths = paths;
                        UIScrollPicture.open({
                            rect: {
                                x: 10,
                                y: 2,
                                w: api.winWidth - 20,
                                h: 162
                            },
                            data: huanlist,
                            styles: {
                                caption: {
                                    height: 35,
                                    color: '#E0FFFF',
                                    size: 13,
                                    bgColor: '#696969',
                                    position: 'bottom'
                                },
                                indicator: {
                                    align: 'right',
                                    color: '#FFFFFF',
                                    activeColor: '#DA70D6'
                                }
                            },
                            placeholderImg: 'widget://image/default.jpg',
                            contentMode: 'scaleToFill',
                            cornerRadius: 10,
                            scrollerCorner: 10,
                            interval: 5,
                            fixedOn: api.frameName,
                            loop: true,
                            fixed: false
                        }, function (ret, err) {
                            if (ret.eventType == "click" && data[ret.index].targetType == 1000) {
                                var lid = data[ret.index].targetId
                                openMusicList(lid)
                            } else if (ret.eventType == "click" && data[ret.index].targetType == 10) {
                                $ku.getAlbumList({
                                    id: data[ret.index].targetId
                                }, function (ret, err) {
                                    if (ret.album.copyrightId != -1) {

                                        openAlubm(ret.album)
                                    } else {
                                        api.toast({
                                            msg: '版权问题无法试听',
                                            duration: 2000,
                                            location: 'bottom'
                                        });

                                    }
                                });

                            } else if (ret.eventType == "click" && data[ret.index].targetType == 1004) {
                                openMv(data[ret.index].targetId)
                            }
                        });
                    } 
                });
        
            },
            openDaily() { //  打开每日推荐
                if (panduan()) {
                    api.openWin({
                        name: 'dailymusic',
                        url: './dailymusic.html',
                        reload: true,
                        animation: {
                            type: "movein", //动画类型（详见动画类型常量）
                            subType: "from_right", //动画子类型（详见动画子类型常量）
                            duration: 500
                        }
                    });
                }
            },
            openmylist(pinyin, ismylsit, iscreatlist) {
                if (panduan()) {
                    api.openWin({
                        name: 'win_' + pinyin,
                        url: '../gedan/gedan_head.html',
                        pageParam: {
                            slidBackEnabled: false,
                            ismylsit: ismylsit,
                            iscreatlist: iscreatlist
                        },
                        animation: {
                            type: "reveal", //动画类型（详见动画类型常量）
                            subType: "from_right", //动画子类型（详见动画子类型常量）
                            duration: 400 //动画过渡时间，默认300毫秒
                        },
                    });
                }

            },
            openShou() { //打开我的收藏
                if (panduan()) {
                    api.openWin({
                        name: 'shouC',
                        url: 'widget://html/shou/shou_index.html',
                        pageParam: {
                            name: 'test'
                        }
                    });
                }
            },
            openLikeList() { //打我like 列表
                if (panduan()) {
                    api.openWin({
                        name: 'shou_head_1',
                        url: 'widget://html/likelist/shou_head.html',
                    });
                }
            },
            getkulist() {
                $ku.personalized(function (ret, err) {
                    if (ret) {
                        if (ret) {
                            app.kuListData = ret.result
                            echoInit()
                        }
                    }else{
                        console.log(JSON.stringify(err))
                    }
                });
            },
            getRankList() {//排行榜
                getCache('hot', 'hot', function (ret, err) {
                    if (ret.data) {
                        var data = $api.strToJson(ret.data)
                        // delCache('hot','hot')
                        app.openUICoverFlow(data)
                    } else {
                        $ku.getTopList(function (ret, err) {

                            if (ret.code == 200) {
                                var data1 = ret.list
                                var data = []
                                for (var i = 0; i < 10; i++) {
                                    var obj = {}
                                    obj.url = data1[i].coverImgUrl + '?param=260y240"'
                                    obj.id = data1[i].id
                                    data[i] = obj
                                }
                                // console.log(JSON.stringify(data));
                                setTimeout(() => {
                                    app.openUICoverFlow(data)
                                }, 1000);
                                saveCache('hot', 'hot', data)

                            } else {
                                // alert(JSON.stringify(err));
                            }
                        });

                    }
                })
            },
            openUICoverFlow(data) {
                var UICoverFlow = api.require('UICoverFlow');
              
                UICoverFlowToTop=$api.offset($api.byId('rank')).t 
                UICoverFlow.open({
                    rect: {
                        x: 10,
                        y: UICoverFlowToTop>700?UICoverFlowToTop:703,
                        w: api.winWidth - 20,
                        h: 180
                    },
                    styles: {
                        bg: '#fff',
                        image: {
                            activeW: 120,
                            activeH: 120,
                            corner: 10,
                            placeholder: 'widget://image/default.jpg'
                        }
                    },
                    images: data,
                    indicator: { //（可选项）JSON 类型；指示器的样式设置；默认：未设置时不显示
                        bg: '#c19e9e', //（可选项）字符串类型；指示器未激活时的背景，支持 rgb，rgba，#；默认：#eee
                        active: '#f00', //（可选项）字符串类型；指示器激活时的背景，支持 rgb，rgba，#；默认：#eee
                    },
                    index: 2,
                    interval: 2000,
                    fixedOn: api.frameName,
                    fixed: false
                }, function (ret, err) {
                    if (ret) {

                        if (ret.eventType == 'click') {
                            var id = data[ret.index].id
                            openMusicList(id)
                        }
                    } else {
                        // alert(JSON.stringify(err));
                    }
                });
            },
            getArtists() {
                $ku.getartists({
                    limit: 6
                }, function (ret, err) {
                    $api.setStorage('mlist', ret.artists);

                    if (ret.code = 200) {
                        app.artistsListData = ret.artists
                        echoInit()
                    } else {
                        api.toast({
                            msg: '网络错误',
                            duration: 2000,
                            location: 'bottom'
                        });
                    }
                })
            },
            getTuiList() {
                $ku.GetRecommend(function (ret, err) {
                    if (ret.code == 200) {
                        app.recommendListData = ret.recommend
                        echoInit()
                    } else {
                        $api.addCls($api.byId('tuitTitle'), 'H-display-none-important');
                    }
                })
            },
            openAlbum(index) {
                openAlubm(app.newAlbumListData[index])
            },
            getAlbumList() {
                $ku.getNewAlbumList(function (ret, err) {
                    app.newAlbumListData = ret.albums
                    echoInit()
                })
            },
            getMvList() {
                $ku.getNewMvList({
                    limit: 6
                }, function (ret, err) {
                    if (ret) {
                        // console.log(JSON.stringify(ret));
                        app.mvListData = ret.data
                        echoInit()
                    } else {

                        api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                    }
                });

            },
            getVideoList() {
                $ku.getHotVideo({
                    id: 1100
                }, function (ret, err) {
                    if (ret.datas && ret.datas.length) {
                        app.videoListData = ret.datas
                        if (app.videoListData.length > 0) {
                            setTimeout(() => {
                                stoploading()
                            }, 1000);
                        }
                        echoInit()
                    } else {
                        $api.attr($api.byId('vlistTitle'), 'style', 'display:none');
                    }
                })
            },
            getHighQualityData() {
                var data = {
                    // before: 1503639064232,
                    limit: 6
                }

                $ku.getHightqualityPlayList(data,function (ret, err) {
                    app.highqualityData = ret.playlists
                    echoInit()
                })
            }
        },
        beforeUpdate: function () {

        },
        mounted() {
       
        }
    })
</script>

</html>