<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>Hui</title>
	<link href="../../css/Hui.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../script/vue.min.js"></script>

	<style type="text/css">
		body,
		html {
			background-color: transparent;
		}

		.fix {
			padding-top: 300px;
			width: 265px;
			padding-left: 93px;
		}

		.divinput {
			width: 265px;
			padding-left: 93px;
		}
	</style>
</head>

<body class="H-height-100-percent H-box-sizing-border-box H-overflow-hidden" style="background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
">
	<div class="  fix" id="app">
		<div class="H-flexbox-horizontal  H-border-vertical-bottom-after ">
			<span class="H-icon H-vertical-middle H-padding-horizontal-left-10"><i class="H-iconfont H-icon-care-user H-font-size-18 H-vertical-middle H-theme-font-color-white"></i></span>
			<input type="text" v-model='nickname' maxlength='11' class="H-textbox H-vertical-align-middle H-theme-font-color-white H-vertical-middle H-font-size-16 H-flex-item H-box-sizing-border-box H-border-none H-outline-none H-padding-15 H-theme-background-color-transparent"
							id="nickname" placeholder="请输入用户昵称" />
		</div>
		<div class="H-flexbox-horizontal  H-border-vertical-bottom-after ">
			<span class="H-icon H-vertical-middle H-padding-horizontal-left-10"><i class="H-iconfont H-icon-phone H-font-size-18 H-vertical-middle H-theme-font-color-white"></i></span>
			<input type="text" v-model='phone' maxlength='11' class="H-textbox H-vertical-align-middle H-theme-font-color-white H-vertical-middle H-font-size-16 H-flex-item H-box-sizing-border-box H-border-none H-outline-none H-padding-15 H-theme-background-color-transparent"
							id="name" placeholder="请输入手机号码" />
		</div>
		<div class="H-flexbox-horizontal  H-border-vertical-bottom-after ">
			<span class="H-icon H-vertical-middle H-padding-horizontal-left-10"><i class="H-iconfont H-icon-radio-check H-font-size-18 H-vertical-middle H-theme-font-color-white"></i></span>
			<input type="text" v-model='yanzheng' maxlength='11' class="H-textbox H-vertical-align-middle H-theme-font-color-white H-vertical-middle H-font-size-12 H-flex-item H-box-sizing-border-box H-border-none H-outline-none H-padding-15 H-theme-background-color-transparent"
							id="yanzheng" placeholder="请输入验证码" style="width:30px" />

			<button @click='getCode()' :disabled='disabled' style="min-width:60px;" class="H-button H-font-size-15 H-outline-none H-padding-vertical-both-8 H-padding-horizontal-both-20 H-theme-background-color2 H-theme-font-color-white H-theme-border-color2 H-theme-border-color2-click H-theme-background-color2-click H-theme-font-color2-click H-border-radius-3">{{btnMsg}}</button>
		</div>
		<div class="H-flexbox-horizontal H-border-vertical-bottom-after H-theme-font-color-white">
			<span class="H-icon H-vertical-middle H-padding-horizontal-left-10"><i class="H-iconfont H-icon-lock H-font-size-18 H-vertical-middle "></i></span>
			<input type="password" v-model='psw' class="H-textbox H-vertical-align-middle H-theme-font-color-white H-vertical-middle H-font-size-16 H-flex-item H-box-sizing-border-box H-border-none H-outline-none H-padding-15 H-theme-background-color-transparent"
							id="password" placeholder="请输入登录密码" />
		</div>

		<div class="H-padding-15 H-margin-vertical-top-10">
			<button id="login" @click='reg()' class="H-button H-width-100-percent  H-font-size-15 H-outline-none H-padding-vertical-both-10 H-padding-horizontal-both-10 H-theme-background-color-white H-theme-font-color-pink H-theme-border-color-white H-theme-border-color9-click H-theme-background-color9-click H-theme-font-color9-click   "
							style="border-radius: 30px;">
					提交注册
				</button>
		</div>
		<div class="H-margin-horizontal-both-15">
			<span class="H-theme-font-color1 H-float-left H-font-size-14">
					<input type="checkbox" class="H-checkbox H-checkbox-null H-vertical-align-middle H-font-size-18 H-theme-font-color-pink H-border-radius-circle" checked="checked" style="-webkit-transform: scale(0.6); -webkit-transform-origin: 0 38%;" />
					<label style="position:relative;left:-10px;color: white">《酷选用户注册协议》</label></span>
		</div>
	</div>

	</div>
	<script src="../../script/H.js" type="text/javascript"></script>
	<!-- <script src="../../script/H.js" type="text/javascript"></script> -->

	<script src="../../script/api.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../script/axios.min.js"></script>
	<script type="text/javascript" src="../../script/musicapi.js"></script>


	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				nickname: '',
				phone: '',
				psw: '',
				btnMsg: '发送验证码',
				timer: null,
				disabled: false,
				yanzheng: ''

			},
			watch: {
				phone(curVal, oldVal) {

					if (curVal.length == 11) {
						// console.log(curVal);
						$ku.checkPhone({phone:curVal}, function(ret,err) {
							if (ret.exist == 1) {
								alert(ret.nickname + '已经注册过了')
							}
						})
					}
				},
				yanzheng(curVal, oldVal) {
					if (curVal.length == 4) {
						$ku.checkCaptcha({phone:this.phone,captcha:curVal}, function(ret, err) {
							if (ret.code == 200) {

							} else {
								console.log(JSON.stringify(err));
								alert(err.body.message)
							}
						})
					}
				}
			},
			methods: {
				getCode() {     
					var TIME_COUNT = 30;     
					if (!this.timer && this.phone && this.phone.length == 11) {

						this.disabled = true
						this.count = TIME_COUNT;
						$ku.sendMsg({phone:this.phone}, function(ret,err) {
							if (ret.code == 200) {
								api.toast({
									msg: '发送成功',
									duration: 2000,
									location: 'bottom'
								});

							}
						})
						this.timer = setInterval(() => {

							       
							if (this.count > 0 && this.count <= TIME_COUNT) {

								         
								this.count--;
								this.btnMsg = this.count + 's'        
							} else {


								this.disabled = false    
								clearInterval(this.timer);

								this.btnMsg = '发送验证码'       
								this.timer = null;

								        
							}

							       
						}, 1000)

						      
					} else {

						api.toast({
							msg: '数据错误,请重新输入',
							duration: 2000,
							location: 'bottom'
						});

					}
				} ,
				reg() {
					if (this.nickname == '' || this.phone == '' || this.yanzheng == '' || this.psw == '') {
						api.toast({
							msg: '数据不完整',
							duration: 2000,
							location: 'bottom'
						});

					} else {
						var params={
							phone:this.phone,
							password:this.psw,
							captcha:this.yanzheng,
							nickname:this.nickname
						}
						$ku.register(params, function(ret, err) {
							if (ret.code == 200) {
								$api.setStorage('userinfo', ret.profile);

								api.sendEvent({
									name: 'updateuserinfo'
								});
								api.sendEvent({
									name: 'reg_login_successEvent',
									extra: {
										user: nickname,
									}
								});
								api.sendEvent({
									name: 'updateuserinfo'
								});
								H.openSlidLayout(null, {
									name: "slidLayout",
									url: "../../html/slidLayout_body.html",
									bgColor: "transparent",
									bounces: false
								}, {
									name: "index",
									url: "../../html/index/index_head.html",
									bounces: false
								}, {
									leftEdge: 100
								});
							} else {

								console.log(JSON.stringify(err));
								api.toast({
									msg: err.body.msg ? err.body.msg : err.body.message,
									duration: 2000,
									location: 'bottom'
								});


							}
						})

					}
				}
			},

		})

		apiready = function() {


		};

		function getNowFormatDate() {
			var date = new Date();
			var seperator1 = "-";
			var seperator2 = ":";
			var month = date.getMonth() + 1;
			var strDate = date.getDate();
			if (month >= 1 && month <= 9) {
				month = "0" + month;
			}
			if (strDate >= 0 && strDate <= 9) {
				strDate = "0" + strDate;
			}
			var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate + " " + date.getHours() + seperator2 + date.getMinutes() + seperator2 + date.getSeconds();
			return currentdate;
		}

		var pic = '../../image/qq.png'

		function changePerson() {
			api.getPicture({
				sourceType: 'library',
				encodingType: 'png',
				mediaValue: 'pic',
				destinationType: 'url',
				allowEdit: true,
				saveToPhotoAlbum: false
			}, function(ret, err) {
				if (ret.data) {
					api.showProgress({
						title: ' 上传中...',
						text: '先喝杯茶...',
						modal: false
					}), api.ajax({
						timeout: 300,
						method: 'post',
						url: hostUrl + '/upload.php',
						data: {
							files: {
								upfile: ret.data
							},
						},
						dataType: 'text',
					}, function(ret, err) {
						var ttt = hostUrl + '/' + ret;
						api.hideProgress();
						var person = $api.byId('icon');
						$api.attr(person, 'src', ttt);
						api.toast({
							msg: '上传成功'
						});
						$api.setStorage('icon', ttt);
					});
				} else {
					//						api.alert({
					//							msg : err.msg
					//						});
					api.toast({
						msg: '更新失败'
					});
				};
			});
		}
	</script>
</body>

</html>
